.header{
    position: sticky;
    top: 0;
    z-index: 1;
    height: auto;
    background: #03070a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;

}
.header h2{
    color: #FFFFFF;
}

.header .navigation ul{
    display: flex;

}
.header .navigation ul li{
list-style: none;
padding-left: 36px;
}
.header .navigation ul li a{
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.005em;
color: #FFFFFF;
}

@media only screen and (max-width: 580px) {
    .header {
        display: block;
        padding: 20px 50px;

    }
    .header .navigation ul{
        padding: 0;
    }
    .header .navigation ul li{
        padding-left: 0;
        padding-right: 20px;
    }
}