.main-container{
    background-color: #cecaca  ;

}
.shop-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    padding: 50px 80px;
}

.main-container .text-section{
    background-color: #fff;
    margin: 50px 80px 0 50px;
    padding: 20px;
    border-radius: 10px;
}

.text-section .props-vs-state{
    display: flex;
}


@media only screen and (max-width: 580px) {
    .shop-container{
        grid-template-columns: 1fr;
    }

    .products-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        margin: 0 50px ;
        text-align: center;
    }
    .main-container .text-section{
        background-color: #fff;
        margin: 50px 80px 0 80px;
        padding: 20px;
        border-radius: 10px;
    }
    .text-section .props-vs-state{
        display: block;
    }
    
}